{% extends 'layout.html' %}
{% block content %}
{% for error in errors  %}
	<p>{{ error }}</p>
{% endfor %}
<div class="container-fluid col-md-offset-1">
	<br>
	<form action="/register" method="post">
		<label>Логин
			<input type="text" class="form-control" id="login"
				   {% if data.login !="" %} value="{{ data.login }}" {% endif %} name="login" placeholder="Введите имя" required>
		</label><br>
		<label>e-mail
			<input type="email" class="form-control" id="email"
				   {% if data.email !="" %} value="{{ data.email }}" {% endif %} name="email" placeholder="e-mail" required>
		</label><br>
		<label>Пароль
			<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
		</label><br>
		<label>Подтверждение
			<input type="password" class="form-control" id="confirmation" name="confirmation" placeholder="password" required>
		</label><br><br>
		<input type="submit" name="submit" class="btn btn-primary" value="Submit" >
	</form>
</div>

{% endblock %}