{% extends 'layout.html' %}
{% block content %}
{% for error in errors  %}
	<p>{{ error }}</p>
{% endfor %}
<div class="container-fluid col-md-offset-1">
	<br>
	<form action="/register" method="post">
		<label>Login
			<input type="text" class="form-control" id="login" name="login" placeholder="Введите имя" required>
		</label><br>
		<label>e-mail
			<input type="email" class="form-control" id="email" name="email" placeholder="e-mail" required>
		</label><br>
		<label>Password
			<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
		</label><br>
		<label>Confirm
			<input type="password" class="form-control" id="confirmation" name="confirmation" placeholder="password" required>
		</label><br><br>
		<input type="submit" name="submit" class="btn btn-primary" value="Submit" >
	</form>
</div>

{% endblock %}