{% extends 'layout.html' %}
{% block content %}
	<div class="container-fluid">
		{% if helper.isPicture(file.extension)%}
			{% include 'view_image.html' %}
			{% elseif helper.isVideo(file.extension)%}
			{% include 'view_video.html' %}
			{% else %}
			<p> {{ file.name }} </p>
			<p><a href="{{ helper.formatDownloadLink(file.id, file.name)}}">Скачать файл</a></p>
			<p><strong>Загружен:</strong> {{ file.uploaded|date('d-m-y H:i') }}</p>
			<p><strong>Размер файла:</strong> {{ helper.formatSize(file.size) }}</p>
			<p>{{ file.extension }}</p>
		{% endif %}
			{# <h4>Post Your Comment:</h4>
			<form action="/send/{{ file.id }}" method="post">
				<label for="name">Ваше имя</label><br>
				<input type='text' name="name" value="Anonymous"><br>
				<label for="comment">Your Comment</label><br>
				<textarea name="comment" id="commentBody"></textarea><br>
				<input type="hidden" name="fileId" value="{{ file.id }}">
				<input type="submit" value="Post your comment">
                <input type="hidden" id="parentComment" name="parent" value=""> #}
			
		
            <h3>Комментарии</h3>
          <div class="comments" id="comments">  
	  {% for comment in comments %}
			

                <div class="comment" id="comment{{comment.id}}"
                 onclick="appendPostForm({{comment.id}}, '{{comment.user}}', postForm{{comment.id}})"
                 style="margin-left:{{ (comment.level -1) * 25 }}px;">
                 <ul style="list-style:none;">
				<li>
			<p>Comment by {{ comment.user }} posted on {{ comment.posted|date('d-m-y H:i')  }}</p>
            <p><i>{{ comment.user }} wrote:</i></p>
            <p>> {{ comment.comment }}</p>
            <p><span>reply</span></p>
				</li>
              
			</ul>

			{# {% if  %} #}
			{# <div style="border: 1px solid black; background:black; color:gold; padding:5px;margin:5px;">
			<p>Parent {{ comment.id }}</p>
			<p>Comment by {{ comment.user }} posted on {{ comment.posted|date('d-m-y H:i')  }}</p>
			<p><i>{{ comment.user }} wrote:</i></p>
			<p style="color:green">> {{ comment.comment }}</p>
			</div> #}
            </div>
            <div id='postForm{{comment.id}}'></div>
		{% endfor %}
         
        <div class="comment-button" id="commentButton" onclick="applyCommentForm()">
            <h4>Нажмите чтоб написать комментарий</h4>
            </div>
            <div id="commentButtonPost">
            </div>
		</div>
	</div>

    <script type="text/x-template" id="commentTemplate">
    <h4><b> Ответить: </b></h4>
        <form name="commentForm" action="/send/{{ file.id }}" method="post">
        <label for="name">Ваше имя:</label>
        <input type="text" name="name" onfocus="this.value=''" value="Anonymous"><br>
        <label for="comment">Your Comment</label><br>
        <textarea name="comment" id="commentBody"></textarea><br>
        <input type="hidden" name="fileId" value="{{ file.id }}">
        <input type="hidden" id="parentComment" name="parent" value="{{ comment.id }}">
        <input type="button" onclick="postComment()" value="Post your comment">
        
        </form>
    </script>
    <script type="text/javascript">
        var commentButton = document.getElementById('commentButton');
        var commentButtonPost = document.getElementById('commentButtonPost');
        var div =  document.createElement('div');
        div.innerHTML = document.getElementById('commentTemplate').innerHTML;
        div.className = "post-form";
        var parentComment = document.getElementById('parentComment');
        var commentBody = document.getElementById('commentBody');
        

        function appendPostForm(id, user, postForm) {
                 postForm.appendChild(div);
                 var parentComment = document.getElementById('parentComment');
                 var commentBody = document.getElementById('commentBody');
                 parentComment.value= id;
                 commentButton.style.display = '';
                 commentBody.value = user+ ', ';
        }
        // commentButton.onclick = function(){
        //     commentButtonPost.appendChild(div);
        //     commentButton.style.display = "none";
        // }
        function applyCommentForm(){
            commentButtonPost.appendChild(div);
            commentButton.style.display = "none";
        }
        function postComment(){
        var formData = new FormData(document.forms.commentForm);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/send/{{ file.id }}");
        xhr.send(formData);
        var comments = document.getElementById('comments');
        xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        comments.innerHTML = xhr.responseText;
                    }
        //var xhr2 = new XMLHttpRequest();
        
        
        // xhr.onreadystatechange = function() {
        //     if (xhr.readyState == 4 && xhr.status == 200) {
        //         xhr2.open("GET", "/ajax/comments/{{ file.id }}");
        //         xhr2.send();
        //         xhr2.onreadystatechange = function() {
        //             if (xhr2.readyState == 4 && xhr2.status == 200) {
        //                 comments.innerHTML = xhr2.responseText;
        //             }
        
        }
        }
        
      

    </script>
{% endblock %}